.main-section {
    background-image: url('assets\img\img-main.jpeg');
    background-size: cover;
    background-position: center;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffff;
    text-align: center;
}

.card {
    height: 100px;
}

.card img{
    height: 250px;
}